.divtopcorner{
    position:absolute;
    top:0px;
    right: 150px;
    color:black;
    text-align:center;
    padding:5px;
  }
.header{
    color:black;
    text-align:center;
    padding:5px;
  }
.manulist{
    display:inline;
    left:100px;
}
.menulista {
    background-color: black;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 4px 4px 0 0;
}

.menulista:hover {
    background-color: orange;
}
.std{
    text-align: centre;
    width: 500px;
}

.std .inp {
    float: right;
}

.container {
  position: relative;
  text-align: center;
  color: white;
}

/* Bottom left text */
.bottom-left {
  position: absolute;
  bottom: 8px;
  left: 16px;
}

/* Top left text */
.top-left {
  position: absolute;
  top: 8px;
  left: 16px;
}

/* Top right text */
.top-right {
  position: absolute;
  top: 8px;
  right: 16px;
}

/* Bottom right text */
.bottom-right {
  position: absolute;
  bottom: 8px;
  right: 16px;
}

/* Centered text */
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}